
@{
    ViewBag.Title = "Sepet";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

@using HayzumTicaret.UI.Models

@using HayzumTicaret.UI.App_Classes
@{
    decimal SiparisTutar = 0; int kargo = 50; decimal toplamTutar = 0;
    HttpCookie ad = Request.Cookies["Adet"];
    int a = 0;
    if (ad!=null)
    {
        a = Convert.ToInt32(ad.Value);
    }
     }
<div id="content">
    <div class="container">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="/Site/Index">AnaSayfa</a>
                </li>
                <li>Alışveriş Sepeti</li>
            </ul>
        </div>
        <div class="col-md-9" id="basket">
            <div class="box">
                <form method="post" action="/Site/OdemeSayfasi">
                    <h1>Alışveriş Sepeti</h1>
                    <p class="text-muted">Sepetinizde Toplam @a Adet Ürün Var.</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="2">Ürün</th>
                                    <th>Adet</th>
                                    <th>Fiyat</th>
                                    <th>İndirim</th>
                                    <th colspan="2">Toplam Fiyat</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.S_Urunler != null)
                                {
                                    foreach (dynamic item in ViewBag.S_Urunler)
                                    {
                                        
                                        var ID = item.GetType().GetProperty("id");
                                        var Adet = item.GetType().GetProperty("adet");
                                        int id = Convert.ToInt32(ID.GetValue(item));
                                        int adet = Convert.ToInt32(Adet.GetValue(item));


                                        Db01_eTicaretContext ctx = new Db01_eTicaretContext();
                                        Urun ur= ctx.Uruns.SingleOrDefault(x => x.id == id);
                                        Resim r =ctx.Resims.SingleOrDefault(x => x.UrunID == id);
                                        decimal toplam = ur.SatisFiyati * adet;
                                        SiparisTutar += toplam;
                                     <tr>
                                            <td>
                                                <a href="#">
                                                    <img src="@r.KüçükYol" alt="White Blouse Armani">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#">@ur.Adi @ur.Aciklama</a>
                                            </td>
                                            <td>
                                                <input type="number" value="@adet" name="@ur.id" class="form-control adet">
                                            </td>
                                            <td>@ur.SatisFiyati</td>
                                            <td>$0.00</td>
                                            <td>@toplam</td>
                                            <td>
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                                
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="5">Toplam</th>
                                    <th colspan="2">@SiparisTutar</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                    <div class="box-footer">
                        <div class="pull-left">
                            <a href="/Site/Index" class="btn btn-default"><i class="fa fa-chevron-left"></i>Alışverişe Devam Et</a>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-default"><i class="fa fa-refresh"></i>Sepet Güncelle</button>
                            <button type="submit" class="btn btn-primary">
                               Alışverişi Tamamla <i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->

            <div class="row same-height-row">
                <div class="col-md-3 col-sm-6">
                    <div class="box same-height">
                        <h3>You may also like these products</h3>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product same-height">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="img/product2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="img/product2_2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="img/product2.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3>Fur coat</h3>
                            <p class="price">$143</p>
                        </div>
                    </div>
                    <!-- /.product -->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product same-height">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="img/product1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="img/product1_2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="img/product1.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3>Fur coat</h3>
                            <p class="price">$143</p>
                        </div>
                    </div>
                    <!-- /.product -->
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="product same-height">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="img/product3.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="img/product3_2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="img/product3.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3>Fur coat</h3>
                            <p class="price">$143</p>
                        </div>
                    </div>
                    <!-- /.product -->
                </div>
            </div>

        </div>
        <!-- /.col-md-9 -->
        <div class="col-md-3">
            <div class="box" id="order-summary">
                <div class="box-header">
                    <h3>Order summary</h3>
                </div>
                <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Sipariş Ara Tutarı</td>
                                <th>@SiparisTutar</th>
                            </tr>
                            <tr>
                                <td>Kargo Ücreti</td>
                                <th>@kargo</th>
                            </tr>
                            <tr>
                                <td>Vergi</td>
                                <th>$0.00</th>
                            </tr>
                            <tr class="total">
                                <td>Toplam</td>
                                @{  toplamTutar = SiparisTutar+kargo;}
                                <th>@toplamTutar</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="box">
                <div class="box-header">
                    <h4>Coupon code</h4>
                </div>
                <p class="text-muted">If you have a coupon code, please enter it in the box below.</p>
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><i class="fa fa-gift"></i></button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </form>
            </div>
        </div>
        <!-- /.col-md-3 -->
    </div>
    <!-- /.container -->
</div>

@section script
    {
         <script>
             $(".adet").click(function () {
                 var id = $(this).attr("name");
             

                 $.ajax({
                     type: "Get",
                     url: "/Site/SepetEkle/" + id,
                     success: function (data) {
                         var adet = data;
                         $.ajax({
                             type: "GET",
                             url: "/Site/SepetUrunAdet",
                             datatype: "html",
                             success: function (veri) {
                                 $(".sepet").html(veri);
                                 window.location.replace("/Site/Sepet");
                             },
                             error: function () {
                                 alert("Hata");
                             }
                         })
                     },
                     error: function () {
                         alert("Hata");
                     }
                 })
             })
         </script>

    }
